body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

#produtos-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.produto {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  margin: 10px;
  padding: 15px;
  width: 220px;
  text-align: center;
}

.produto h2 {
  font-size: 18px;
}

.produto p {
  margin: 10px 0;
}
button {
  padding: 10px;
  margin-top: 10px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #218838;
}
